@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
    font-family: 'Noto Sans TC',sans-serif;
}
.detailsAll{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: start;
    margin-bottom: 20px;
    /* width:90%;
    max-width: 1200px; */
}

img.dpic{
    width: 350px;
}

@media (max-width: 1280px) {
    
}