@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.img-fluid{
    margin-top: 15px;
    width:80%;
}

#p1.img-fluid:hover {
    margin-top: 10px;
    box-shadow: 0 3px 10px 3px rgba(51, 51, 51, 0.5);
}
.des{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    text-align: start;
    font-family: 'Noto Sans TC',sans-serif;
}
.brand{
    margin-top: 3px;
}
.tagsG{
    width: 42px;
    height: 30px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.tagsSection{
    display: flex;
    flex-direction: row;
}
#tagPho{
    position: absolute;
    width: 42px;
    height: 25px;
    z-index: 1;
   
}
#tagF{
    position: relative;
    width: 100%;
    font-size: 8px;
    margin-top:2px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
    left: 10%;
}


